@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FBF6EE; /* A warm, parchment-like color */
  font-family: 'Merriweather', serif;
  color: #4a4a4a;
}

.katha-app {
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
